.restlist-page-container{
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 0px 50px 60px;
    box-sizing: border-box;
}
.restlist-maincontainer h2{
    margin: 0px;
    color: #000;
}
.restlist-table{
    width: 100%;
    margin: 25px auto;
    padding: 0;
    border-collapse: collapse;
    border: 3px solid #eee;
    background-color: #faf9f9;
    text-align: center;
    font-size: 14px;
}
.restlist-table thead{
    background-color: #ff910050;
    color: #000;
    height: 50px;
}
.restlist-table th, .restlist-table td{
    margin: 0;
    border: 0;
    border: 1px solid #eee;
    padding: 15px;
    box-sizing: border-box;
}
.restlist-table tbody tr:hover{
    background-color: #faf7f4;
}
.table-action-btn{
    background-color: #ff9100;
    border: none;
    width: 80px;
    height: 25px;
    border-radius: 4px;
    cursor: pointer;
}
.table-action-btn:hover{
    background-color: #ff7b00;
}
.table-loading-icon-div{
    height: 300px;
    padding-top:50px;
    box-sizing: border-box;
}
.no-items-present{
    font-size: 16px;
    color: #000;
    text-align: center;
}