.orders-page-container{
    width: 100%;
    background-color: #fff;
    padding:35px 50px 60px;
    box-sizing: border-box;
}
.orders-page-container h2{
    margin: 0px;
    color: #000;
}
.order-table{
    width: 100%;
    margin: 35px auto;
    padding: 0;
    border-collapse: collapse;
    border: 3px solid #eee;
    background-color: #faf9f9;
    text-align: center;
    font-size: 14px;
}
.order-table thead{
    color: #000;
    height: 50px;
}
.order-table th, .order-table td{
    margin: 0;
    border: 0;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}
.order-action-btn{
    background-color: #ff9100;
    border: none;
    width: 120px;
    height: 25px;
    border-radius: 4px;
    cursor: pointer;
}